body {
  height: 100vh;
  background-image: url(./images//bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
}

.container .character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 700px;

  padding: 40px 20px;
  margin: 0 auto;
}

.container .character-list .character {
  box-sizing: border-box;

  width: 80px;
  height: 84px;

  border: 3px solid #fff;
  border-radius: 10px;
  margin: 4px;

  background-color: #555;

  overflow: hidden;

  transform: skewX(-14deg);
}

.container .character-list .character:hover {
  background-color: orange;

  cursor: pointer;

  z-index: 1;

  transform: skewX(-14deg) scale(1.3);
  transition: transform 0.1s, background-color 1s;
}

.container .character-list .character .image {
  width: 140%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: skewX(14deg) translateX(-16px);
}

.container .character-list .character:nth-child(1) .image {
  background-image: url(./images/hero1.png);
}

.container .character-list .character:nth-child(2) .image {
  background-image: url(./images/hero2.png);
}
.container .character-list .character:nth-child(3) .image {
  background-image: url(./images/hero3.png);
}
.container .character-list .character:nth-child(4) .image {
  background-image: url(./images/hero4.png);
}
.container .character-list .character:nth-child(5) .image {
  background-image: url(./images/hero5.png);
}
.container .character-list .character:nth-child(6) .image {
  background-image: url(./images/hero6.png);
}
.container .character-list .character:nth-child(7) .image {
  background-image: url(./images/hero7.png);
}
.container .character-list .character:nth-child(8) .image {
  background-image: url(./images/hero8.png);
}
.container .character-list .character:nth-child(9) .image {
  background-image: url(./images/hero9.png);
}

.container .character-list .character:nth-child(10) .image {
  background-image: url(./images/hero10.png);
}

.container .character-list .character:nth-child(11) .image {
  background-image: url(./images/hero11.png);
}

.container .character-list .character:nth-child(12) .image {
  background-image: url(./images/hero12.png);
}
.container .character-list .character:nth-child(13) .image {
  background-image: url(./images/hero13.png);
}
.container .character-list .character:nth-child(14) .image {
  background-image: url(./images/hero14.png);
}
.container .character-list .character:nth-child(15) .image {
  background-image: url(./images/hero15.png);
}
.container .character-list .character:nth-child(16) .image {
  background-image: url(./images/hero16.png);
}
.container .character-list .character:nth-child(17) .image {
  background-image: url(./images/hero17.png);
}
.container .character-list .character:nth-child(18) .image {
  background-image: url(./images/hero18.png);
}
.container .character-list .character:nth-child(19) .image {
  background-image: url(./images/hero19.png);
}

.container .character-list .character:nth-child(20) .image {
  background-image: url(./images/hero20.png);
}

.container .character-list .character:nth-child(21) .image {
  background-image: url(./images/hero21.png);
}

.container .character-list .character:nth-child(22) .image {
  background-image: url(./images/hero22.png);
}
.container .character-list .character:nth-child(23) .image {
  background-image: url(./images/hero23.png);
}
.container .character-list .character:nth-child(24) .image {
  background-image: url(./images/hero24.png);
}
.container .character-list .character:nth-child(25) .image {
  background-image: url(./images/hero25.png);
}
.container .character-list .character:nth-child(26) .image {
  background-image: url(./images/hero26.png);
}
.container .character-list .character:nth-child(27) .image {
  background-image: url(./images/hero27.png);
}
.container .character-list .character:nth-child(28) .image {
  background-image: url(./images/hero28.png);
}
.container .character-list .character:nth-child(29) .image {
  background-image: url(./images/hero29.png);
}
.container .character-list .character:nth-child(30) .image {
  background-image: url(./images/hero30.png);
}
.container .character-list .character:nth-child(31) .image {
  background-image: url(./images/hero31.png);
}
.container .character-list .character:nth-child(32) .image {
  background-image: url(./images/hero32.png);
}

.container .logo {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
}

.container .logo img {
  width: 100%;
}
